/* Reset */
html {
    box-sizing: border-box;
}

*, *:before, *:after {
    -webkit-appearance: none;
    font-size: 8mm;
    line-height: 10mm;
    margin: 0px;
    padding: 0px;
    vertical-align: baseline;
    box-sizing: inherit;
}

ul, li {
    list-style: none;
}

.template, .d-none { display: none !important; }
