#level_list .player_name { font-weight: bold; }

.equip-icon { width: 20px; }

#availible_locations li .img, #completed_locations li .img {
    width: 100%;
    height: 30mm !important;
    background-size: cover;    
}

#completed_locations .title, #availible_locations .title { font-size: 5mm; }

.modifier_deck div button { font-size: 5mm; }

#active_monster_list .name { font-size: 5mm; }


#tile_list li {
    text-align: center;
}
#tile_list img {
    width: 100px;
}
#tile_list span {
    font-size: 20mm;
    line-height: 20mm;
    display: block;
}

.monster_list li {
    text-align: center;
}
.monster_list .avatar, .monster_list .stats { margin-bottom: 2mm; }

.monster_list .avatar img {
    width: 30mm;
}
.monster_list .initiative img {
    width: 60mm;
}
.monster_list .stats {
    height: 45mm;
    overflow: hidden;
    align-items: baseline;
}
.monster_list .stats img {
    width: 120mm;
}

.stats img.lvl0 {
    transform: rotate(90deg);
}
.stats img.lvl2 {
    transform: rotate(-90deg);    
}
.stats img.lvl3 {
    transform: rotate(-180deg);    
}

.monster_list span {
    display: block;
}



#active_monster_list  {
    flex-wrap: wrap;
}
#active_monster_list.flex li {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 100px;
    text-align: center;
}
#active_monster_list img {
    width: 50px;
}
#active_monster_list span {
    display: block;
}

.modifier_card {
    background: url(../img/modifier_blank.jpg) no-repeat 10px 10px;
    display: inline-block;
    width: 240px;
    height: 170px;
    background-size: 220px;
    text-align: center;
}

.modifier_card .card {
    text-align: center;
}
.modifier_card img {
    width: 190px;
    padding-top: 20px;
}

.modifier_card.selected {
    background-color: green;
}

#decksize {
    background: url(../img/modifier_back.jpg) no-repeat 10px 10px;
    display: inline-block;
    width: 240px;
    height: 170px;
    background-size: 220px;
    text-align: center;
}
#decksize span {
    display: inline-block;
    margin-top: 25mm;
    margin-left: 40mm;
    text-align: right;   
    color: white;
    text-shadow: 2px 2px 5px black;    
    font-size: 60px;
}