input.level { width: 30px; }
.template, .d-none { display: none !important; }
#level_list .player_name { font-weight: bold; }

* { font-family: gloomhaven; }

input.header {
    border: 0px;
    font-size: 1.5em;
    font-weight: bold;
}

@font-face {
    font-family: gloomhaven;
    src: url(res/PirataOne-Regular.ttf);
}

.flex {
    width: 100%;
    display: flex;
    margin: 0px;
    padding: 0px;
    list-style: none;
}
.flex > *  {
    flex: 1 100%;
}

button.icon {
    width: 48px;
    height: 48px;
    border: 0px;
    text-indent: 1000px;
    white-space: nowrap;
    overflow: hidden;
}

button.icon.up { background: url(img/icons/pluss.png); background-size: 48px; }
button.icon.down { background: url(img/icons/minus.png); background-size: 48px; }
button.icon.add { background: url(img/icons/pluss.png); background-size: 48px; }
button.icon.remove { background: url(img/icons/no.png); background-size: 48px; }

.statblock {
    display: flex;
    margin: 0px;
    padding: 0px;
    list-style: none;
    width: 100%;
}

.statblock > *:nth-child(1)  {
    width: 30%;
}
.statblock > *:nth-child(2)  {
    width: 30%;
}
.statblock > *:nth-child(3)  {
    width: 20%;
    text-align: center;
}
.statblock > *:nth-child(4)  {
    width: 20%;
    text-align: center;
}

#general-tab > div, #general-tab > ul {
    margin-bottom: 30px;
}

#availible_locations li .img, #completed_locations li .img {
    width: 150px;
    height: 80px;
    background-size: cover;    
}

#availible_locations, #completed_locations {
    list-style: none;
    margin: 0px;
    padding: 0px;
    display: flex; 
    flex-wrap: wrap;    
}

#availible_locations li, #completed_locations li {
    margin: 5px;
}

#settings > div > button {
    width: 100%;
    line-height: 48px;
}

#tab-selection {
    margin-bottom: 10px;
}
#tab-selection > li > a {
    display: block;
    line-height: 48px;
    text-align: center;
    background: lightgray;
}

#tab-selection li a.selected {
    background: lightgreen;
}

#difficulty > li > button {
    line-height: 48px;
    width: 100%;
    background: lightgray;
}

#difficulty li.selected button {
    background: lightgreen;
}


#tile_list li {
    text-align: center;
}
#tile_list img {
    width: 100px;
}
#tile_list span {
    font-size: 300%;
    display: block;
}

#monster_list li {
    text-align: center;
}
#monster_list img {
    width: 100px;
}
#monster_list span {
    display: block;
}



#active_monster_list  {
    flex-wrap: wrap;
}
#active_monster_list.flex li {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 100px;
    text-align: center;
}
#active_monster_list img {
    width: 50px;
}
#active_monster_list span {
    display: block;
}

#modifier_deck_draws > div {
    background: url(img/modifier_blank.jpg) no-repeat 10px 10px;
    display: inline-block;
    width: 240px;
    height: 170px;
    background-size: 220px;
    text-align: center;
}

#modifier_deck_draws div.card {
    text-align: center;
}
#modifier_deck_draws img {
    width: 190px;
    padding-top: 20px;
}

#modifier_deck_draws div.selected {
    background-color: green;
}

#decksize span {
    background: url(img/modifier_back.jpg) no-repeat;
    display: inline-block;
    width: 70px;
    height: 40px;
    background-size: 70px;
    text-align: center;   
    color: white;
    text-shadow: 2px 2px 5px black;    
    font-size: 30px;
}