input.level { width: 30px; }
.template, .d-none { display: none; }
#level_list .player_name { font-weight: bold; }
button.selected { background: lightgreen; }

input.header {
    border: 0px;
    font: 2em bold;
}